---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Profile from '../components/Profile.astro';
import AstroLayout from '@/layouts/astroLayout.astro';
import ContentList from '@/components/ContentList.astro';


const response = await fetch ('https://dev.to/api/articles?username=thiagomotasantos');
const data = await response.json();
const content = data

const openSource = [
	{
		cover_image: "https://www.sinnples.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhero.4e76c802.png&w=640&q=75",
		description: "Application that allows users in an apartment complex to recommend services to each other.",
		title: "Sinnples",
		url: "https://github.com/finntechnologies/sinnples",
		postType: "github"
	}
]

const projects = [
	{
		cover_image: "https://camo.githubusercontent.com/98b2a66093f2bf585d77cd47fbf91226cb3a30643e2d5f4e667530e2181efcad/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3835393438333637383038323037323631362f313133383834333330393336343735363438302f734e65487566542e706e67",
		title: "Appointment Graphic",
		description: "Project that simulates a scheduling control panel for a graphic. Where can you manage appointments",
		url: "https://github.com/Thiago-Mota-Santos/fullstack-relay",
		postType: "github",
	},
	{
		cover_image: "https://content.pymnts.com/wp-content/uploads/2022/02/Solana-Pay-cryptocurrency-blockchain.jpg",
		title: "Solana Pay Shop",
		description: "An online store where you can download my favorite arts for coins",
		url: "https://github.com/Thiago-Mota-Santos/Solana-pay-shop",
		postType: "github",
	},
	{
		cover_image: "https://images.unsplash.com/photo-1584091377126-3817650725fc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80",
		title: "Mini Notification Service",
		description: "A notification service, using some architectural principles built with Nest and Prisma.",
		url: "https://github.com/Thiago-Mota-Santos/Miniservice-notification",
		postType: "github",
	}
]

---

<AstroLayout>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="h-screen w-screen">
			<Profile />
			<section id="articles" class="mt-16">
				<h1 class="text-4xl text-white font-bold mb-8">
				  Projects
				</h1>
				<ContentList content={projects}/>
			</section>

			<section id="articles" class="mt-16">
				<h1 class="text-4xl text-white font-bold mb-8">
				  Open Source
				</h1>
				<ContentList content={openSource}/>
			</section>
	
			<section id="articles" class="mt-16">
				<h1 class="text-4xl text-white font-bold mb-8">
				  Articles
				</h1>
				<ContentList content={content}/>
			</section>
		<Footer />
		</main>
	</body>
</html>
</AstroLayout>
