---
import Content, { type User } from "./Content.astro";

interface Props {
  content: {
  cover_image: string;
  title: string;
  description: string;
  user?: User;
  url: string;
  posted_on?: string;
  public_reactions_count?: string;
  comments_count?: string;
  postType?: "article" | "github"
  }[]
}


const { content } = Astro.props
---

<div class="flex justify-center">
    <div class="flex flex-col lg:grid lg:grid-cols-3 gap-y-8 w-full lg:gap-x-10">
      {content.map((content) => (
        <Content
          cover_image={content.cover_image}
          title={content.title}
          user={content.user}
          url={content.url}
          description={content.description}
          posted_on={content.posted_on}
          public_reactions_count={content.public_reactions_count} 
          comments_count={content.comments_count}
          postType={content.postType}         
          />
      ))}
    </div>
</div>